@CHARSET "UTF-8";

html {
	height: 100%
}

body {
	height: 100%
}

body {
	font-size: 14px;
	font-weight: bold;
}

div.dicen {
	z-index: 98;
	background: none transparent scroll repeat 0% 0%;
	left: 0px;
	width: 100%;
	position: absolute;
	top: 0px;
	height: 100%
}

div.bg_touming {
	z-index: -1;
	filter: alpha(opacity = 80);
	left: 0px;
	width: 100%;
	position: absolute;
	top: 0px;
	height: 100%;
	background-color: #eee;
	opacity: 0.7
}

div.tanchukuan {
	border-right: #444 1px solid;
	border-top: #444 1px solid;
	z-index: 99;
	margin-left: auto;
	border-left: #444 1px solid;
	width: 30%;
	margin-right: auto;
	border-bottom: #444 1px solid;
	position: relative;
	top: 25%;
	background-color: #FFF;
}

div.tanchukuan-title {
	padding-right: 0.3em;
	padding-left: 0.3em;
	font-size: 1em;
	font-family: "华文楷体", "华文行楷";
	font-style: inherit;
	padding-bottom: 0.1em;
	margin: 0px;
	line-height: 2.2em;
	padding-top: 0em;
	border-bottom: #444 1px solid;
	position: relative;
	background-color: #FFF;
}

img.chapuc {
	right: 0em;
	position: absolute;
	top: 0em;
	width: 4em;
	height: 3em;
}

div.tanchukuan p {
	padding-right: 0.2em;
	padding-left: 0.2em;
	padding-bottom: 0.2em;
	padding-top: 0em;
	text-align: center;
}

.register {
	background: url(../../images/regbtn.png);
	width: 196px;
	height: 52px;
	border: 0;
	cursor:  pointer;
}
.register:hover
{background: url(../../images/regbtn.png) 0 -52px;
	
}